# Expo
.expo/
dist/
web-build/

# Node
node_modules/
npm-debug.*
yarn-debug.*
yarn-error.*
package-lock.json
yarn.lock
.pnp.*

# Testing
coverage/

# Husky (Exclude generated shell scripts but keep config)
.husky/_
.husky/install.mjs

# MacOS
.DS_Store
*.swp

# IDEs and Editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS temp files
Thumbs.db

# React Native / Native Builds
ios/build/
ios/Pods/
ios/Index/
android/build/
android/app/build/
android/.gradle/
*.jks
*.keystore
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
